th,
td {
  line-height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* 部署ごとに絞るプルダウンメニュー */
#select {
  font-size: 16px;
  font-weight: bold;
  height: 35px;
  width: 215px;
  text-align: center;
  border: 2px solid #8F8F8F;
  margin-left: 78px;
}

/* テーブル ------------------------------------------------------------- */
#tableField {
  border: 2px solid #D9D9D9;
  width: 90%;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

#itemList {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  font-weight: bold;
}
#itemList tr {
  text-align: center;
}
#itemList thead {
  border-bottom: 1px solid #cccccc;
}
#itemList tbody {
  border-bottom: 1px solid #cccccc;
}
#itemList tbody tr {
  border-bottom: 1px solid #cccccc;
}

/* 行ごとのスタイル */
.touch .status {
  display: flex;
} 
.touch img {
  height: 24px;
  width: 24px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 110px;
  margin-right: 10px;
}


/* 被害詳細 */
/* .touch2 { */
  /* display: none; */
/* } */



/* 被害状況ごとのスタイル ------------------------------------------------- */

/* 被害あり */
#itemList #damage {
  background-color: rgba(225,66,44,0.5);
}
#itemList #damage p {
  color: #EB4F3A;
}
/* 被害なし */
#itemList #noDamage {
  background-color: rgba(73,195,129,0.5);
}
#itemList #noDamage p {
  color: #49C381;
}
/* 入力なし */
#itemList #offDamage {
  background-color: rgba(217,217,217,0.5);
}
#itemList #offDamage p {
  color: #8F8F8F;
}